.specifics {
  padding-bottom: 0;
}

.specifics__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.specifics__item {
  width: 450px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 354px;
    margin-top: 30px;
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 0 30px 0 0;
    width: 270px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.specifics__container {
  height: 120px;
  background-color: var(--scnd-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  @extend %align-list;
  justify-content: center;
}
.specifics__icon {
  width: 70px;
  height: 70px;
}
