:root {
  --body-text-color: #757575;
  --scnd-body-text-color: #ffffff;
  --title-color: #212121;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --scnd-background-color: #f5f4fa;
  --footer-background: #2f303a;
  --transform: cubic-bezier(0.4, 0, 0.2, 1);
}
